<h1>Welcome to the Sample App</h1><br>
<p>This is home page for the Ruby on Rails Tutorial sample application.</p><br>
<button class="bordered radius-20 bg-gray padding-left-right-20">Sing up now!</button>
