<footer>
  <nav class="navbar">
      <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'Ruby on Rails Tutorial', 'https://www.railstutorial.org/book/beginning', target: '_blank'%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'About', '/static_pages/about'%></li>
          <li><%= link_to 'Contact', '/static_pages/contact'%></li>
          <li><%= link_to 'News', '/static_pages/news'%></li>
      </ul>
  </nav>
</footer>