<header>
    <nav class="navbar">
      <div class="navbar-header">
        <div class="navbar-brand">
          <%= link_to 'Sample app', '#', id: 'logo'%>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', '/static_pages/home'%></li>
        <li><%= link_to 'Help', '/static_pages/help'%></li>
        <li><%= link_to 'Login', '/static_pages/login'%></li>
      </ul>
    </nav>
</header>